@model IEnumerable<Bibtheque.Models.Livre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.titre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.auteur)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.resume)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.nbPage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.prix)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.dateEdition)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categorie)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.resume)
            </td>
            <td>
                @if (!string.IsNullOrEmpty(item.image))
                {
                    <img src="@Url.Content("~/images/" + item.image)" style="max-width: 100px; max-height: 100px;" />
                }
                else
                {
                    <span>Pas d'image</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nbPage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateEdition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
