@model IEnumerable<Bibtheque.Models.Livre>

@{
    ViewData["Title"] = "Livres";
}

<h1>Liste des livres</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Créer un livre</a>
</p>
<table class="table table-striped" style="text-align: center">
    <thead>
        <tr>
            <th>
                Titre du Livre
            </th>
            <th>
                Auteur
            </th>
            <th>
                Nombre de pages
            </th>
            <th>
                Prix
            </th>
            <th>
                Date d'édition
            </th>
            <th>
                Catégorie
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.titre)
                <br />
                @if (!string.IsNullOrEmpty(item.image))
                {
                    <img src="@Url.Content("~/images/" + item.image)" style="max-width: 100px; max-height: 100px;" />
                }
                else
                {
                    <span>Pas d'image</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.auteur)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.nbPage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.prix)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.dateEdition)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Categorie.nom)
            </td>
            <td>
                    <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-warning">Modifier</a>
                    <a asp-action="Details" asp-route-id="@item.id" class="btn btn-outline-info">Détail</a>
                    <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Effacer</a>
            </td>
        </tr>
}
    </tbody>
</table>
