@model IEnumerable<Bibtheque.Models.Stock>

@{
    ViewData["Title"] = "Stock";
}

<h1>Exemplaires des livres</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-success">Ajout d'exemplaires pour un livre</a>
</p>
<table class="table table-striped" style="text-align: center">
    <thead>
        <tr>
            <th>
                Livre
            </th>
            <th>
                Nombre d'exemplaires
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Livre.titre)
                <br />
                    @if (!string.IsNullOrEmpty(item.Livre.image))
                {
                        <img src="@Url.Content("~/images/" + item.Livre.image)" style="max-width: 100px; max-height: 100px;" />
                }
                else
                {
                    <span>Pas d'image</span>
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.quantite)
            </td>
            
            <td>
                <a asp-action="Edit" asp-route-id="@item.id" class="btn btn-outline-warning">Modifier</a>
                <a asp-action="Delete" asp-route-id="@item.id" class="btn btn-outline-danger">Supprimer</a>
            </td>
        </tr>
}
    </tbody>
</table>
